



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    background-color:#302e31;
  
}
#orderScreen {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    height: 600px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    color: white;
    align-content: center;
    
}
#orderScreen div {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
#orderForm {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#orderForm input {
    height: 4vh;
}

                                                            /* titles */

.titles{
    text-align: center;
    color: rgb(246, 246, 246);
    background-color: #716f71;
    padding: 22px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
}


.titles   h1{
    font-size: 80px;
    color: black;
    margin: 0;
    padding-bottom: 10px;
}


.titles   p{
    font-size: 20px;
    margin-top: -10px;
 
    }
    .nav-buttons {
        display: flex;
        justify-content: center;
        background-color:#212121;
        padding: 15px 0;
        box-shadow: 0px 4px 10px rgb(0, 0, 0);
    }
                                                           /* main navigation buttons */

    .nav-buttons a {
        font-size: 24px;
        color: #faefef;
        padding: 0 20px;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s, background-color 0.3s;
    }


    .nav-buttons a:hover {
        color: white;
        background-color: #505050;
        border-radius: 5px;
    }    
                                                       /* end of main navigation buttons */
    .header1{
text-align: center;
color: #fff;
font-size: 50px;


    }

                                                        /* menu navigation buttons */
.menu-navigation{
display: flex;
flex-direction: column;
justify-content: center;
gap: 40px;
width: 20%;
position: fixed;
margin-left: 40px;
}


.menu-navigation a{
  
    flex: 1;
    text-decoration: none;
    color: white;
    font-size: 55px;
    text-align: center;
    padding: 10px;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

                                                        /* end of menu navigation buttons */


                                                                   /* menu styling */
.menu-item {
    display: flex;
    padding: 20px;
    max-width: 700px;
    background-color:  #716f71;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    transition: transform 0.3s ease;
}


.item-image {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;

    box-shadow: 0 4px 10px rgb(0, 0, 0);
}


.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.item-info h3 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}

.item-description {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0;
    font-family: 'Trebuchet MS', sans-serif;
}


.size-select {
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    
}

.size-select label {
    margin-right: 10px;
    font-weight: bold;
    color: #faefef;
}

.size-select select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color:  #333;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}

.size-select select:focus {
    outline: none;
    border-color: #404040;
}


.price {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}


.order-btn {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #333333;
    border: none;
    border-radius: 5px;

    margin-top: 15px;

}

.order-btn:hover {
    background-color: #525252;
}
                                                        /* end of menu styling */
footer {
    text-align: center;
    padding: 15px;
    color: #c7c0bf;
    font-size: 16px;
    background-color:  #716f71;
}